body{
    font-size: 100%;
    font-style: none;
    padding: 0;
    gap: 0;
    background-color: #ffffff;
    
}

p,h1,h2,h3,h4{
    font-family: 'Roboto',sans-serif;
}


.nav{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 68px;
    left: 202px;
    width: 1309px;
    background-color: #FDF1EB;
    bottom: 5px;
}

.text-top{
    position: relative;
    left: 36px;
}

.first-text-top{
    position: relative;
    font-size: 14px;
    color: #725C5C;
    width: 391px;
    height: 0px;
    font-weight: 400,regular;
    line-height: 16.41px;
    bottom: 15px;

}
.second-text-top{
    position: relative;
    font-size: 22px;
    color: #725C5C;
    width: 643px;
    height: 0px;
    font-weight: 400,regular;
    line-height: 16.41px;
    right: 3px;
    bottom: 13px;
   
}
.third-text-top{
    position: relative;
    width: 105px;
    height: 0px;
    font-size: 14px;
    color: #725C5C;
    font-weight: 400,regular;
    line-height: 25.78px;
    bottom: 15px;
    align-items: right;
    
}

select {
    -webkit-appearance: none;
    -moz-appearance:   none ;
    appearance:none;
    width: 100%;    
  }
  
  .seta{
      position: relative;
     width: 20px;
     height: 20px;
     left: 223px;
     top: 23px;
     z-index: 30;

  }
  

.select-language{
    background: #ffffff url('../imagens/imagens/seta.png') 95.5% 50% no-repeat;
    font-size: 14px;
    font-weight: 400,regular;
    line-height: 17.5px;
    position: relative;
    width: 97px;
    height: 34px;
    display: flex;
    left: 110px;
    top: 17px;
    color: #333333;
    font-family: 'Quicksand',sans-serif;
    text-align: center;

    
}






.imagemglobolanguage{
    position: relative;
    left: 136px;
    top: 21px;
    width: 20px;
    height: 21px;
    z-index: 30;
}
















/*ASIDE left*/
.aside-left{
    
    position: relative;
    width: 220px;
    height: 0px;
    bottom: 100px;
    right: 8px;
    
    background-color: #ffffff;
   
}


.box-orange-top{
    background-image: linear-gradient(#FFB354, #EE7A3A);
    width: 220px;
    height: 100px;
    position: fixed;
    background-repeat: no-repeat;
}

.image-orange{
    position: fixed;
    bottom:400.5px;
}

.title-box-orange{
    position: relative;
    color: #ffffff;
    left: 20px;
    height: 68px;
    width: 178px;
    left: 20px;
    font-size: 30px;
    top: 15px;
    font-family: 'Roboto',sans-serif;
}


.button-menu-aside{
position: fixed;
top: 3000px;
}


#label-Apresentação:checked{

    background-color: red;
}


#label-Apresentação,
#label-Comitês,
#label-Autores,
#label-Eixos-tematicos,
#label-Trabalhos,
#label-Contato{
    left: 0px;
    width:196.1px;
    height: 23px;
    background-color: #FFFFFF;
    padding-left:24px;
    padding-top: 2px;
    padding-bottom: 0px;
    color: #725C5C;
    font-weight: 500,medium;
    font-family: 'Quicksand',sans-serif;
    font-size: 15px;
    line-height: 18.75px;
    cursor: pointer;
    
}


#label-Apresentação:hover,
#label-Comitês:hover,
#label-Autores:hover,
#label-Eixos-tematicos:hover,
#label-Trabalhos:hover,
#label-Contato:hover{
    background-color:#FDF1EB;
}


#label-Apresentação{
    position: fixed;
    top:333px;   
}
#label-Comitês{
    position: fixed;
    top:363px
}
#label-Autores{
    position: fixed;
    top:393px
}
#label-Eixos-tematicos{
    position: fixed;
    top:423px
}
#label-Trabalhos{
    position: fixed;
    top:453px
}
#label-Contato{
    position: fixed;
    top:483px
}




















/*login*/
.login{
    display: flex;
    position: relative;
    left: 150px;
}

.text-bem-vindo{
    position: relative;
    left: 210px;
    width: 86px;
    height: 18px;
    font-family: 'Quicksand',sans-serif;
    font-size: 17px;
}

.text-email{
    position: relative;
    top: 20px;
    font-family: 'Quicksand',sans-serif;
    font-style: normal;
}
.imagem-redonda-de-uma-pessoa{
    position: relative;
    height: 30px;
    border-radius: 50px;
    left: 0px;
    top: 12px;
}




















/*=========  MAIN  =========*/
.main{
    position: absolute;
    bottom: 550px;
    width: 30px;
    height: 100px;
    left: 300px;
    z-index: 1000;
 

   
}


.title-main-orange{
    color: #EE7A3A;
    width: 786px;
    height: 54px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900,Black;
}






.collapsible {
    display: flex;
    flex-direction: row;
    background-color: #FDF1EB;
    color: #4E4E4E;
    cursor: pointer;
    padding: 18px;
    width: 1190px;
    height: 45px;
    border: none;
    text-align: left;
    outline: none;
    position: relative;
    right: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Roboto',sans-serif;
    cursor: pointer;
  }
  label{
      cursor: pointer;
  }
  
 
  
 
  
  .content {
    padding: 0 18px;
    padding-bottom: 100px;
    max-height: 30px;
    overflow: hidden;
    transition: max-height 1s ease-out;
    background-color: #ffffff;
    border: #E5E5E5 1px solid;
    font-weight: 700,bold;
    font-size: 14px;
    line-height: 21.33px;
    letter-spacing: 2%;
    font-family: 'Quicksand',sans-serif;
    width: 1153px;
    color: #5C5C5C;
  }
  .contentDiscuções {
    position: relative;
    padding: 0 18px;
    padding-bottom: 100px;
    max-height: 1058px;
    overflow: hidden;
    transition: max-height 1s ease-out;
    background-color: #ffffff;
    border: #E5E5E5 1px solid;
    font-weight: 700,bold;
    font-size: 14px;
    line-height: 21.33px;
    letter-spacing: 2%;
    font-family: 'Quicksand',sans-serif;
    top: 30px;
    width: 1153px;
    height: 807px;
  }

  .second-pharagraph{
      position: relative;
      top: 50px;
  }
  .third-pharagraph{
      position: relative;
      top: 100px;
  }
  .four-pharagraph{
    position: relative;
    top: 100px;
    bottom: 150px;
}

#link{
    position: relative;
    left: 570px;
    bottom: 21.8px;
    font-style: normal;
    outline-style: none;
    
}



.collapsibleDiscuções {
    background-color: #FDF1EB;
    color: #4E4E4E;
    cursor: default;
    padding: 18px;
    width: 1190px;
    height: 45px;
    border: none;
    text-align: left;
    outline: none;
    position: relative;
    right: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Roboto',sans-serif;
    top:30px;
  }

  
 /*=========BOX DISCUÇÕES===============*/

 .title-compartilhe-suas-idieas{
     position: relative;
     left: 324.5px;
     top: 15px;
     color: #EE7A3A;
 }
.icones{
    position: relative;
    left:402.5px;
}
#icone01{
    position: relative;
    left: 0px;
}
#icone02{
    position: relative;
    left: 51px;
}

#icone03{
    position: relative;
    left: 155px;
}


.text-compartilhe-suas-duvidas
{
    position: relative;
    width: 626px;
    height: 39px;
    left: 216.5px;
    text-align: center;
    font-weight: 400,regular;
    font-size: 14px;
    line-height: 19.25px;
    font-family: 'Quicksand',sans-serif;
    color: #595959;
}

.button-criar-topico{
    width: 133px;
    height: 32px;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #ffffff;
    font-family: 'Quicksand',sans-serif;
    background-image: linear-gradient(#FEB254,#F0813D);
    border: #ffffff00 solid 0px;
    border-radius: 4px;
    position: relative;
    left: 484px;
}


.title-assunto-da-pergunta{
    position: relative;
    width: 269px;
    height: 20px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 700,bold;
    font-size: 16px;
    line-height: 20px;
    color: #EE7A3A;
}
.subtitle-assunto-da-pergunta{
    position: relative;
    height: 15px;
    width: 542px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 500,bold;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

.text-assunto-da-pergunta{
    position: relative;
    font-family:'Quicksand',sans-serif;
    font-weight: 400,medium;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
    width: 980.67px;
    height: 35px;
}

.tres-botoes{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 4px;
    height: 4px;
    top: 12px;
    gap: 3px;
}

.favoritarimg{
    position: relative;
    left: 15px;
    width: 27px;
    height: 19px;
    top: 10px;
}

.buttoes-inferior-discussoes-assunto{
    display: flex;
    flex-direction: row;
    left: 24px;
    position: relative;
}

.conteudo-box{
    position: relative;
    left: 37.17px;
}

.text-like,.text-comentario{
    left: 25px;
    position: relative;
    top: 10px;
    padding-left:10px;
    height: 18px;
    font-weight: 350px;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
    
}

.box-assunto-da-pergunta{

    position: relative;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


#box-assunto-da-pergunta01{
    position: relative;
    top: 30px;
    height: 190px;
}
#box-assunto-da-pergunta02{
    position: relative;
    top: 30px;
    height: 190px;
}






/*========ASSIDE RIGHT========*/


.aside-right{
    position: relative;
    left: 1250px;
    top: 10px;
    width: 200px;
}

.button-download,.button-star,.button-doi{
    background-color: #EE7A3A;
    color: white;
    border: #33333300;
    height: 31px;
    border-radius: 4px;
    cursor: pointer;
}

.button-download{
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: center;
    align-items: center;
    
}
.download-text{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 18.75px;
}

.botoes{
    display: flex;
    gap: 5px;
}
.button-star{
    width:43px ;
    
}
.button-doi{
    width: 43px;
}

.text-orange-aside-right{
    color: #EE7A3A;
    font-family: 'Roboto',sans-serif;
    font-weight: 500, Medium;
    font-size: 14px;
    letter-spacing: 5%;
    line-height: 25px;

}

.title-detalhes{
    position: relative;
    color: black;
    display: flex;
    font-weight: 500, Medium;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    left: 15px;
    top: 11px;
}
.box-orange-detalhes{background-color: #FDF1EB; width: 242px; height: 45px;}

.box-text-detalhes{
    background-color: #ececec00;
    height: 379px;
    width: 242px;
    overflow-y: scroll;
    scrollbar-width: 0;
}

.text-box-detalhes{
    color: #ADA0A0;
}

.text-universidade{
    color: #ADA0A0;
    font-family: 'Quicksand',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;

}

.text-box-detalhes >strong{
    font-weight: 400, Regular;
    color: black;
}


.box-text-detalhes > ul{
    position: relative;
    font-size: 16px;
    color: #ADA0A0;
    font-weight: 400, Regular;
    font-family: 'Quicksand',sans-serif;
    letter-spacing: 2%;
    line-height: 16px;
    right: 35px;
    width: 185px;
    display: flex;
}

*{
    font-style: none;
    list-style-type: none;
}




.video{
    position: relative;
    height: 439px;
    width: 784px;
}

.footer-image{
    position: relative;
    top: 330px;
    left: 00px;
    z-index: 9999;
    width:200px;
}
.imagem-footer{
    position: relative;
    cursor: pointer;
    width: 1200px;
    
}




























.first-text-form-envio{
    position: relative;
    left: 358px;
    top: 16px;
    display: flex;
    width: 965.37;
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    font-weight: 400,Regular;
    font-size: 14px;
    line-height: 17.5px;
    color: #5C5C5C;
}

.title-assuntos{
    position: relative;
    color: #ED7839;
    font-family: 'Roboto',sans-serif;
    font-weight: 700,bold;
    font-size: 16px;
    line-height: 18.75px;
    top: 22px;

}

.input-assunto{
    position: relative;
    width: 1025.52px;
    height: 32px;
    border: 1px #CCCCCC solid;
    top: 22px;
    border-radius: 3px;
}

.text-area{
    position: relative;
    top: 22px;
    width: 1025.52px;
    height: 113px;
    border: 1px #CCCCCC solid;
    border-radius: 3px;
}

.border-text-area{
    position: relative;
    width: 1030.52px;
    height: 31px;
    background-color: #EAF1F2;
    bottom: 15.1px;
    left: 0px;
}

.line-under-text-area{
    position: relative;
    width: 1027px;
    height: 1px;
    background-color: #E7E7E7;
}

#botao-italico,#botao-negrito{
    display: none;
}

#botao-negrito-label{
    position: relative;
    left: 30px;
    top: 0px;
}

#botao-italico-label{
    position: relative;
    left: 60px;
    top: 0px;
}

.enviar-text-area{
    position: relative;
    background-image: linear-gradient(#FEB154,#F1833E);
    color: #ffffff;
    width: 205px;
    height: 31px;
    left: 789px;
    border: 0px #ffffff00 solid;
    font-size: 17px;
    font-weight: 700, Bold;
    line-height: 16px;
    font-family: 'Quicksand',sans-serif;
    text-align: center;
}