@media screen and (max-width:360px){
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
  

    }
    .nav{
        position: relative;
        width:1250px
    }

    .box-text-detalhes{
        width: 30px;
    }
    .box-orange-detalhes{
        width: 30px;
    }
    .collapsible{
        width: 30px;
    }
    .content{
        width: 30px;
    }
    .collapsibleDiscuções{
        width: 30px;
    }
    .contentDiscuções{
        width: 30px;
    }
    .login{
        position: relative;
        right: 300px;
    }









}