@media screen and (max-width:360px){
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
  

    }
    .aside-right{
        display: none;
    }

    .nav{
        position: relative;
        width:1000px;
        right: 3009px;
    }

    .box-text-detalhes{
        width: 700px;
    }
    .box-orange-detalhes{
        width: 700px;
    }
    .collapsible{
        width: 700px
    }
    .content{
        width: 700px
    }
    .collapsibleDiscuções{
        width: 700px
    }
    .contentDiscuções{
        width: 700px
    }
    .login,.imagem-redonda-de-uma-pessoa{
        position: relative;
        right: 300px;
    }
    video{
        width: 700px ;
    }










}